* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
    width: 100%;
}

.div-content {
    background-color: #fff;
    border-radius: 11px;
    padding: 1em 1em;
    box-shadow: 0 6px 40px rgb(0 0 0 / 30%);
    width: 350px;
    margin: 5px 25px;
}

header {
    background-color: #1A293B;
    color: mintcream;
    width:100%;
    height: 100px;
    padding-top: 20px;
}

footer {
    grid-area: footer;
    background-color: #1A293B;
    color: #ccc;
    text-align: center;
    position: fixed;
    bottom: 1px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    padding-top: 25px;
}

ul {
    list-style: none;

}

span {
    font-weight: bold;
    padding-bottom: 50px;
}

li {
    margin-bottom: 2px;
    padding: 1px;
}

a {
    color: rgb(25, 26, 25);
    text-decoration: none;
}

ul li:hover {
    background-color: cornflowerblue;
}

h1 {
    font-size: 22px;
    text-align: center;
    right: 1px;
}

.topleft {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 150px;
    z-index: 100;
}

.center {
    grid-area: center;
    align-items: center;
}

.logo {
    grid-area: logo;
    background-color: #1A293B;
}